* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family:sans-serif;
  color: #eeeeee;
}
body {
  background: #121212;
  padding: 0px;
}

header {
  background-color: #121212;
  
  padding: 16px 32px;
 
}

header h1 {
  color: rgba(255, 255, 255, 0.75);
  font-family: "McLaren", cursive;
  font-weight: 200;
 
}
header hr {
  border: 1px solid #ccc; /* Default border style */
  border-color:rgba(255, 255, 255, 0.12);
  margin-top: 15px;
}


.note {
  background: transparent;
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
  color: rgba(255, 255, 255, 0.5);
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
  
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  
}

.note button {
  position: relative;
  border: transparent;
  border-radius: 3px;
  float: right;
  margin-right: 10px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.12);
  cursor: pointer;
  padding:3px 3px 1px 3px;
  outline: none;
}

.note button:hover {
  border-color: coral;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  
  padding: 15px;
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.12);
}
form.create-note input,
form.create-note textarea {
  color: rgba(255, 255, 255, 0.7);
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  background-color: transparent;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #121212;
  color: rgba(255, 255, 255,0.50);
  border: 0.5px solid rgba(255, 255, 255, 0.12);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
form.create-note button:hover{
  border-color: lightgreen;
}

.logout {
  position: relative;
  float: right;
  margin-right: 15px;
  color:rgba(255, 255, 255,0.75);
  border:1px solid rgba(255, 255, 255, 0.12) ;
  background-color: transparent;
  border-radius: 6px;
  padding: 6px;
  
  cursor: pointer;
  outline: none;
}

.logout:hover {
  border-color: coral; 
}
.first-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #121212;
}

.container {
  background-color: transparent;
  border-radius: 10px;
  
  border:1px solid rgba(255, 255, 255, 0.12);
  padding: 20px;
  width: 400px;
}

.container input {
  margin: 8px;
  padding: 8px;
  width: calc(100% - 16px);
  border-radius: 10px;
  border:1px solid rgba(255, 255, 255, 0.12);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  outline: none;
}

.container input:focus {
  border-color:rgb(0, 140, 255); 
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button-container button {
  flex: 1;
  margin: 10px;
  padding: 10px 20px;
  color: rgba(255, 255, 255, 0.50);
  border:1px solid rgba(255, 255, 255, 0.12);
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.button-container button:hover {
   border-color: rgb(0, 140, 255);
}

.container p {
  font-family: sans-serif;
  margin-top: 10px;
  color:rgba(255, 255, 255, 0.30);
}

.outer-contianer {
  display: flex;
  
}



@media only screen and (max-width: 768px) {
 

  .container {
    width: calc(100%-100px); 
    max-width: 400px; 
  }

  form.create-note {
    width: calc(100% - 200px); 
    margin: 30px auto 20px auto;
  }
  
  footer {
    
    align-items: end;
  }

  
  
}